/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	max-width: 900px;
	margin: 0 auto;
	background: lightcyan;
	line-height: 22px;
	text-align: justify;
	font-size: 16px;
}
.container div{
	border: 1px solid black;
}
.flex{
	display: flex;
}
.row1{
	
	background: #7FFF00;
}
.col_1{
	width: 285px;
	font-size: 16px;
	}
.row2{
	background: #FF0000;
}
.col_2_1{
	width: 600px;
}
.incol_2_1{
	font-size: 16px;
}
.col_2_2{
	width: 280px;
}
.incol_2_2{
	font-size: 16px;
}
.row3{
	background: #00FF7F;
}
.col3{
	width: 300px;
}
.incol_3{
	font-size: 16px;
}
.incol03_3{
	width: 550px;
}

.incol_33{
	width: 550px;
	font-size: 16px;
}
.incol_31{
	width: 550px;
}	
.incol_333{
	width: 300px;
}
.incol_334{
	width: 220px;
}
.incol_335{
	width: 220px;
}
.row4{
	background: #A9A9A9;
}
.incol_4{
	width: 600px;
}
.incol_41{
width: 600px;
}
.incol_42{
width: 600px;
}
.incol_422{
	width: 300px;
}
.incol_4222{
	width: 140px;
}
.incol_4_222{
	width: 300px;
	color: red;
}
.incol_42222{
	width: 280px;
}
.incol_442222{
	width: 250px;
}
.incol_5{
	width: 280px;
}
.incol_55{
	width: 250px;
}